.clock {
  background: url(../images/clockface.jpg);
  width: 600px;
  height: 600px;
  margin: 20px auto 0 auto;
  position: relative;
}

.sec, .min, .hour {
  width: 30px;
  height: 600px;
  position: absolute;
  left: 285px;
  top: 0;
}

.sec {
  background: url(../images/sechand.png);
  z-index: 1;
  /*	-webkit-transform: rotate(30deg);
	-moz-transform: rotate(30deg);
	-ms-transform: rotate(30deg);
	-o-transform: rotate(30deg);
	transform: rotate(30deg);*/
}

.min {
  background: url(../images/minhand.png);
  z-index: 2;
}

.hour {
  background: url(../images/hourhand.png);
  z-index: 3;
}
